@model ConManApp.EnModels.Skladistar
@{ ViewData["Title"] = "ViewMyProfile"; }
@*
    <h2>Moj profil:</h2>
    <style>
        .ispisskladistara {
            background-color: ghostwhite;
        }

        .naslovi {
            background-color: forestgreen;
        }

        #podaci {
            background-color: whitesmoke;
        }
    </style>
    @if (Model != null)
    {


            <div class="ispisskladistara">
                <p class="naslovi">Ime:</p>
                <p id="podaci">@Model.Ime</p><br />
                <p class="naslovi">Prezime:</p>
                <p id="podaci">@Model.Prezime</p><br />
                <p class="naslovi">Username:</p>
                <p id="podaci">@Model.username</p><br />
                <p class="naslovi">Password:</p>
                <p id="podaci">@Model.password</p><br />
                <p class="naslovi">Kontakt broj:</p>
                <p id="podaci">@Model.KontaktBroj</p><br />
                <p class="naslovi">Skladiste</p>
                <p  id="podaci">@ViewBag.AdresaSkladista</p>
            </div>
      }

*@


<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <a class="fa fa-arrow-left back-arrow" aria-hidden="true" href="/Skladistar/Index"></a>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">



        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
            </a>
            <!-- Dropdown - Alerts -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-primary">
                            <i class="fas fa-file-alt text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 12, 2019</div>
                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-success">
                            <i class="fas fa-donate text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 7, 2019</div>
                        $290.29 has been deposited into your account!
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                        <div class="icon-circle bg-warning">
                            <i class="fas fa-exclamation-triangle text-white"></i>
                        </div>
                    </div>
                    <div>
                        <div class="small text-gray-500">December 2, 2019</div>
                        Spending Alert: We've noticed unusually high spending for your account.
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
            </div>
        </li>

        <!-- Nav Item - Messages -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">7</span>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                    Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                        <div class="status-indicator"></div>
                    </div>
                    <div>
                        <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                        <div class="small text-gray-500">Jae Chun · 1d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                        <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.Ime</span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/Poslovodja/ViewMyProfile">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Poslovodja/Logout" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar

    <a class="fa fa-arrow-left" aria-hidden="true" href="/Poslovodja/Index1"></a>
<br />

-->



<div class="container">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Korisnički podaci</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                @if (Model != null)
                {

    <table class="table table-bordered">

        <tr>
            <th>
                Ime:
            </th>
            <td>
                @Model.Ime
            </td>
        </tr>
        <tr>
            <th>
                Prezime:
            </th>
            <td>
                @Model.Prezime
            </td>
        </tr>
        <tr>
            <th>
                Korisnicko ime:
            </th>
            <td>
                @Model.username
            </td>
        </tr>
        <tr>
            <th>
                Password:
            </th>
            <td>
                @Model.password
            </td>
        </tr>
        <tr>
            <th>
                Kontakt broj:
            </th>
            <td>
                @Model.KontaktBroj
            </td>
        </tr>
        <tr>
            <th>
                Adresa Skladista:
            </th>
            <td>
                @ViewBag.AdresaSkladista
            </td>
        </tr>
    </table> }
else
{
<h5>There is nothing to show here...</h5>}

            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">2FA Autentifikacija</h6>
            <div class="float-right fa-switch">
                @if (Model.TwoFaAuth)
                {
                    <a href="#" class="btn btn-danger fa-button" data-toggle="modal" data-target="#iskljucimodal">Iskljuci</a> }
                else
                {
                    <a href="#" class="btn btn-primary fa-button" data-toggle="modal" data-target="#qrcodemodal">Ukljuci</a>
                }

            </div>
        </div>
        <!--
        <div class="card-body">
            @if (@Model.TwoFaAuth == true)
            {
            <div class="row">

                <div class="col-md-6 text-center">
                    <h6 class="2fa-h6">Skenirajte QR Kod</h6>
                    <img class="barode" src="@ViewBag.BarcodeImageUrl" />
                </div>
                <div class="col-md-6 text-center">
                    <form class="form-signin">
                        <div class="form-label-group">
                            <input type="text" id="2fakod" name="2fakod" class="form-control" placeholder="2FA Verifikacijski kod" required autofocus>
                            <label for="2fakod">2FA Verifikacijski kod</label>
                        </div>
                        <input class="btn btn-lg login-button btn-block text-uppercase" value="Verificiraj" type="button" onclick="">
                    </form>
                </div>
            </div>

                 }
            else
            {
                 <p class="col-sm-12">2FA Verifikacija Iskljucena</p>
            }
        </div>

        -->


    </div>

    <!-- QR Code Modal -->
    <div class="modal fade" id="qrcodemodal" tabindex="-1" role="dialog" aria-labelledby="qrcodemodal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">2FA Verifikacija</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <h5 class="fa-h6">1. Skenirajte QR Kod</h5>
                        <img class="barode" src="@ViewBag.BarcodeImageUrl" />
                        <h5 class="fa-h5">2. Unesite 2FA Kod</h5>
                        <input type="text" id="2fakod" name="2fakod" class="form-control" placeholder="2FA Verifikacijski kod" required autofocus>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="TwoFaGo()">Aktivacija</button>
                </div>
            </div>
        </div>
    </div>

    <!-- QR Code Modal -->
    <div class="modal fade" id="iskljucimodal" tabindex="-1" role="dialog" aria-labelledby="iskljucimodal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Iskljucivanje 2FA Verifikacije</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <h5 class="fa-h5">Unesite 2FA Kod</h5>
                        <input type="text" id="2fakodisklj" name="2fakod" class="form-control" placeholder="2FA Verifikacijski kod" required autofocus>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" onclick="TwoFaIskljuci()">Iskljuci</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var TwoFaGo = function () {
        $.ajax(
            {
                type: "POST",
                url: "/Skladistar/TwoFaVerifikacija",
                data: {
                    twofakod: $('#2fakod').val(),
                    username: "@Model.username",
                },
                //data: data,

                error: function (result) {
                    alert("Dogodila se greska.Molimo pokusajte ponovno!");
                },

                success: function (result) {
                    if (result.status == true) {
                        alert("2FA Verifikacija aktivirana!");
                        window.location.href = "/Skladistar/ViewMyProfile";
                    } else {
                        alert("Unijeli ste pogresni kod. Molimo pokusajte ponovno!");
                    }


                }

            });
    }
     var TwoFaIskljuci = function () {
        $.ajax(
            {
                type: "POST",
                url: "/Skladistar/TwoFaVerifikacija",
                data: {
                    twofakod: $('#2fakodisklj').val(),
                    username: "@Model.username",
                    iskljucivanje: true,
                },
                //data: data,

                error: function (result) {
                    alert("Dogodila se greska.Molimo pokusajte ponovno!");
                },

                success: function (result) {
                    if (result.status == true) {
                        alert("2FA Verifikacija iskljucena!");
                        window.location.href = "/Skladistar/ViewMyProfile";
                    } else {
                        alert("Unijeli ste pogresni kod. Molimo pokusajte ponovno!");
                    }


                }

            });
    }
</script>

<style>
    img.barode{
        max-width:300px;
    }

    .fa-switch {
        position: absolute;
        right: 10px;
        top: 6.5px;
    }
    .fa-h6{
        margin:5px auto 0px;
    }
    .fa-h5{
        margin-bottom: 25px;
    }
    .modal-backdrop {
        z-index: 4;
    }
  
</style>
