@model ConManApp.Models.PoslovodjaVM
@{
    ViewData["Title"] = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    @*
        <nav id="topbar" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>
            <!--
        <a href="/Poslovodja/ViewMyProfile" class="my-profile">@Model.Ime</a>-->

            <a class="nav-link collapsed my-profile" href="#" data-toggle="collapse" data-target="#profile-menu" aria-expanded="true" aria-controls="profile-menu">
                <i class="fa fa-user"></i>
                <span>@Model.username</span>

            </a>
            <div id="profile-menu" class="collapse" aria-labelledby="profile-menu" data-parent="#topbar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">As:</h6>
                    <a class="collapse-item" href="">Profile</a>
                    <a class="collapse-item" href="">Logout</a>
                </div>
            </div>
            <a href="/Poslovodja/Logout" class="btn btn-danger">Log out</a>

        </nav>
    *@

    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                        Alerts Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-donate text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 7, 2019</div>
                            $290.29 has been deposited into your account!
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-envelope fa-fw"></i>
                    <!-- Counter - Messages -->
                    <span class="badge badge-danger badge-counter">7</span>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                    <h6 class="dropdown-header">
                        Message Center
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div class="font-weight-bold">
                            <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                            <div class="small text-gray-500">Emily Fowler · 58m</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                            <div class="status-indicator"></div>
                        </div>
                        <div>
                            <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                            <div class="small text-gray-500">Jae Chun · 1d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                            <div class="status-indicator bg-warning"></div>
                        </div>
                        <div>
                            <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                            <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="dropdown-list-image mr-3">
                            <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                            <div class="status-indicator bg-success"></div>
                        </div>
                        <div>
                            <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                            <div class="small text-gray-500">Chicken the Dog · 2w</div>
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Model.Ime</span>
                    <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/Poslovodja/ViewMyProfile">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Poslovodja/Logout" >
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>

    </nav>
    <!-- End of Topbar -->

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Aktivnost na trenutnim projektima</h1>
        </div>
        <div class="row">
            <div class="col-md-6">

                <!-- Project Card Example -->
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                    </div>
                    <div class="card-body projects-body" style="height: 174px">
                        <h4 class="small font-weight-bold">Indigo - Poslovni prostor<span class="float-right">80%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h4 class="small font-weight-bold">Postrojenje - Stan <span class="float-right">40%</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <!-- Earnings (Monthly) Card Example -->
                <div class="mb-4">
                    <div class="card border-left-success h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Earnings (Annual)</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="mb-4">
                    <div class="card border-left-info h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks</div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        



    

            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Trenutno aktivni projekti</h1>
            </div>
            <div class="row">
                <!--
    <div class="col-md-3">
        <div class="card">
            <div class="card-body projekt-body">

                <div class="card-header projekt-header py-3">
                    <span>
                        <h6 class="font-weight-bold text-primary naziv-projekta">Naziv projekta</h6>
                        <p class="projekt-adresa text-gray-800">Adresa</p>
                    </span>
                    <h6 class="float-right projekt-status ">Aktivan</h6>
                </div>

                <div class="datumi-projekta row">
                    <div class="datum-pocetka col-md-6">
                        <p class="datum-header text-gray-800 d-inline">Datum pocetka</p><br />
                        <p class="datum-vrijednost text-gray-800 d-inline">12-Dec, 2020</p>
                    </div>
                    <div class="datum-zavrsetka col-md-6">
                        <div class="float-right d-inline">
                            <p class="datum-header text-gray-800 d-inline">Datum zavrsetka</p><br />
                            <p class="datum-vrijednost text-gray-800 d-inline">12-Dec, 2021</p>
                        </div>
                    </div>
                </div>
                <h4 class="small font-weight-bold">Ukupno završeno <span class="float-right">40%</span></h4>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card">
            <div class="card-body projekt-body">
                <div class="naziv-projekta">
                    <p class="font-weight-bold text-gray-800">Naziv projekta <span class="float-right projekt-status ">Aktivan</span></p>

                </div>
                <p class="projekt-adresa text-gray-800">Adresa</p>
                <div class="datumi-projekta row">
                    <div class="datum-pocetka col-md-6">
                        <p class="datum-header text-gray-800 d-inline">Datum pocetka</p><br />
                        <p class="datum-vrijednost text-gray-800 d-inline">12-Dec, 2020</p>
                    </div>
                    <div class="datum-zavrsetka col-md-6">
                        <div class="float-right d-inline">
                            <p class="datum-header text-gray-800 d-inline">Datum zavrsetka</p><br />
                            <p class="datum-vrijednost text-gray-800 d-inline">12-Dec, 2021</p>
                        </div>
                    </div>
                </div>
                <h4 class="small font-weight-bold">Ukupno završeno <span class="float-right">40%</span></h4>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>
    -->

                @foreach (var x in @Model.projekti)
                {
                    <div class="col-md-3">
                        <a class="card-linker" href="/Poslovodja/DetaljiProjekta?id=@x.ProjektId">
                            <div class="card">
                                <div class="card-body projekt-body">

                                    <div class="card-header projekt-header py-3">
                                        <span>
                                            <h6 class="font-weight-bold text-primary naziv-projekta">@x.Naziv</h6>
                                            <p class="projekt-adresa text-gray-800">@x.Adresa</p>
                                        </span>
                                        <h6 class="float-right projekt-status ">Aktivan</h6>
                                    </div>

                                    <div class="datumi-projekta row">
                                        <div class="datum-pocetka col-md-6">
                                            <p class="datum-header text-gray-800 d-inline">Datum pocetka</p><br />
                                            <p class="datum-vrijednost text-gray-800 d-inline">@x.Pocetak.ToString("dd-MMM, yyyy")</p>
                                        </div>
                                        <div class="datum-zavrsetka col-md-6">
                                            <div class="float-right d-inline">
                                                <p class="datum-header text-gray-800 d-inline">Datum zavrsetka</p><br />
                                                <p class="datum-vrijednost text-gray-800 d-inline">@x.Kraj.ToString("dd-MMM, yyyy")</p>
                                            </div>
                                        </div>
                                    </div>
                                    @if (x.ProjektId == 2)
                                    {
                                        <h4 class="small font-weight-bold">Ukupno završeno <span class="float-right">80%</span></h4>
                                        <div class="progress">
                                            <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>

                                    }
                                    else
                                    {
                                        <h4 class="small font-weight-bold">Ukupno završeno <span class="float-right">40%</span></h4>
                                        <div class="progress">
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                }
                <div class="col-md-3">
                    <a class="card-linker" href="#">
                        <div class="card-novi-projekat card justify-content-center align-self-center">
                            <p class="novi-projekat-plus">+</p>
                            <h6 class="font-weight-bold">Kreirajte novi projekat</h6>
                        </div>
                    </a>
                </div>

            </div>

        @{ /*
        <table class="table table-bordered">
            <tr>
                <th>
                    Naziv projekta
                </th>
                <th>Adresa</th>
                <th>Datum Pocetka</th>
                <th>Datum zavrsetka</th>
                <th>Aktivan</th>
                <th>Akcija</th>
            </tr>
            @foreach (var x in @Model.projekti)
            {
                <tr>
                    <td>
                        @x.Naziv
                    </td>
                    <td>
                        @x.Adresa
                    </td>
                    <td>
                        @x.Pocetak
                    </td>
                    <td>
                        @x.Kraj
                    </td>
                    @if (x.Status == true)
                    {
                        <td>
                            DA
                        </td>
}
                    <td>
                        <a class="btn btn-info" href="/Poslovodja/DetaljiProjekta?id=@x.ProjektId">Detalji</a>
                    </td>

                </tr>
}
        </table>
        

    */}

        <br />
</body>

<style>
    .my-profile {
        margin-left: auto;
    }

    #profile-menu {
        position: absolute;
        margin-top: 136px;
        right:200px;
    }

</style>


