@model ConManApp.EnModels.Skladistar
@{
    ViewData["Title"] = "ViewSkladistar";
}

<h2>ViewSkladistar</h2>
<style>
    .ispisskladistara {
        background-color: ghostwhite;
    }

    .naslovi {
        background-color: forestgreen;
    }

    #podaci {
        background-color: whitesmoke;
    }
</style>
@if (Model != null)
{
    
    
        <div class="ispisskladistara">
            <p class="naslovi">Ime:</p>
            <p id="podaci">@Model.Ime</p><br />
            <p class="naslovi">Prezime:</p>
            <p id="podaci">@Model.Prezime</p><br />
            <p class="naslovi">Username:</p>
            <p id="podaci">@Model.username</p><br />
            <p class="naslovi">Password:</p>
            <p id="podaci">@Model.password</p><br />
            <p class="naslovi">Kontakt broj:</p>
            <p id="podaci">@Model.KontaktBroj</p><br />
            <p class="naslovi">Skladiste</p>
            <p  id="podaci">@Model.SkladisteId</p><a href="/Administracija/ViewSkladiste?SkladisteId=@Model.SkladisteId" >Detalji</a>
        </div>
  }
    else
    {
        <p>Trazeni skladistar ne postoji.</p>
    }

