@model ConManApp.EnModels.Radnik
@{
    ViewData["Title"] = "ViewRadnik";
}

<style>
    .ispisradnika
    {
        background-color:ghostwhite;

    }
    .naslovi
    {
        background-color:cornflowerblue;
    }
    #podaci
    {
        background-color:whitesmoke;
    }
</style>


<div class="ispisradnika">
    <p class="naslovi">Ime:</p>
    <p id="podaci">@Model.Ime</p><br />
    <p class="naslovi">Prezime:</p>
    <p id="podaci">@Model.Prezime</p><br />
    <p class="naslovi">Username:</p>
    <p id="podaci">@Model.username</p><br />
    <p class="naslovi">Password:</p>
    <p id="podaci">@Model.password</p><br />
    <p class="naslovi">Kontakt broj:</p>
    <p id="podaci">@Model.KontaktBroj</p><br />
    <p class="naslovi">Info:</p>
    <p id="podaci">@Model.info</p>
</div>
