@model ConManApp.EnModels.Vozilo
@{
    ViewData["Title"] = "AddVozilo";
}

<h2>AddVozilo</h2>

@using (Html.BeginForm("AddVozilo", "Vozilo", FormMethod.Post))
{/*

    @Html.TextBoxFor(m => m.NazivProizvodjaca, new { @placeholder = "Unesite naziv proizvodjaca:" })
    @Html.TextBoxFor(m => m.Model, new { @placeholder = "Unesite model :" })
    @Html.TextBoxFor(m => m.GodinaProizvodnje, new { @placeholder = "Unesite godinu proizvodnje:" })
    @Html.CheckBoxFor(m => m.Iznajmljeno, new { @placeholder = "Iznajmljen" })
    @Html.CheckBoxFor(m => m.UVoznomStanju, new { @placeholder = "Uvoznomstanju" })
    @Html.DropDownListFor(m => m.SkladisteId, ViewBag.Skla as SelectList, "--skladiste--")
    @Html.DropDownListFor(m => m.TipVozilaId, ViewBag.Tip as SelectList, "--select--")

    <input type="submit" value="Sacuvaj" />*/

}


